.fondo1 {
    background-color: crimson;
    color: white;
}

.fondo2 {
    background-color: antiquewhite;
}

.fondo3 {
    background-color: beige;
}

.fondo4 {
    background-color: cadetblue;
    text-align: center;
}

.fondo5 {
    background-color: coral;
    color: white;
}

.borde {
    border: 1px solid black;
}