html {
    scroll-behavior: smooth;
    scroll-padding: 70px;
    transition: .5s;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
}

body img:not(.d-block) {
    border-radius: 0.8rem;
}

h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
}

p {
    font-size: 1rem;
    line-height: 1.7rem;
}

header {
    position: relative;
}

#logo {
    width: 73px;
    height: 45px;
    background-size: contain;
    background: url("img/logo.png") no-repeat center center;
    font-size: 0;
    position: absolute;
    top: 8px;
    left: 50px;
    z-index: 1;
    margin: 0;
}


.navbar-toggler {
    border: 0px;
}


#banner {
    background-color: #EEF2E6;
    margin-top: 54px;
}


#bienvenido {
    z-index: 2;
    position: absolute;
    background-color: #1c6758c2;
    border-radius: 0.8rem;
}


.carousel-inner figcaption {

    background-color: #1c6758c2;
    border-radius: 0.8rem;
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
}

h3 {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
}

span {
    font-weight: 600;
}

#que-es h2,
h3,
#video-titulo {
    color: #1C6758;
}

h2:not(#que-es h2, h3, #video-titulo) {
    color: #EEF2E6;
}

.fondo1 {
    background-color: #EEF2E6;
}

.fondo2 {
    background-color: #1C6758;
}

.fondo3 {
    background-color: #3D8361;
}

.fondo4 {
    background-color: #1c6758c2;
    border-radius: 0.8rem;
}

section div ul li>figure {

    background-color: #eef2e683;
    padding: 1.5rem;
    border-radius: 0.8rem;
    margin-bottom: 3rem;
}



@media screen and (min-width:991px) {
    section div ul li>figure:hover {
        background-color: #eef2e6d7;
        color: #1C6758;
        font-weight: 500;
    }

    #bienvenido {
        top: 30%;
        font-size: 4rem;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1.5rem;
        padding-left: 3.5rem;
    }

    #banner {
        margin-top: 58px;
    }

    p {
        font-size: 1.1rem;

    }

}

@media screen and (min-width:992px) and (max-width:1399px) {
    #bienvenido {
        top: 28%;
        font-size: 5rem;
    }

}

@media screen and (min-width:1400px) {
    #bienvenido {
        top: 30%;
        font-size: 6rem;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    #bienvenido {
        top: 20%;
    }


}

@media screen and (min-width:768px) {

    h2 {
        font-size: 3rem;
    }

}

@media screen and (min-width:576px) and (max-width:767px) {
    #bienvenido {
        top: 16%;
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2.5rem;
    }

}

@media screen and (max-width:575px) {
    #bienvenido {
        display: none;
    }
}

@media screen and (max-width:991px) {

    #logo {
        left: calc(50% - 40px);
    }

    .nav-link {
        padding: 1.5rem 1.5rem;
    }

}


#subtitulo {
    color: #eef2e6ea;
}


#proteina {
    padding-top: 1.7rem;
    padding-bottom: 2.6rem;
}

#redes {
    opacity: 50%;
}


form>div {
    display: flex;
    flex-direction: column;
    row-gap: 0.3rem;
    margin: 0.6rem 0;
}

form>div:first-child {
    margin-top: 0;
}

form>div:last-child {
    margin-top: 0.9rem;
    margin-bottom: 0;
    flex-direction: row;
    column-gap: 0.3rem;
}

input,
textarea {
    padding: 0.3rem;
    background-color: #EEF2E6;
    border: none;
    border-radius: 0.8rem;
}

input[type="submit"] {
    width: 7rem;
    background: #14493f;
    color: white;
    border: 0px;
    border-radius: 0.3rem;
    padding: 0.3rem;
    margin-left: 1rem;
}

input[type="reset"] {
    width: 5rem;
    background: #207262;
    border: 0px;
    color: white;
    border: 0px;
    padding: 0.3rem;
    border-radius: 0.3rem;
}

li {
    list-style: none;
}

.carousel-indicators {
    padding-bottom: 1rem;
    margin: 0
}

